#card{
    width: 300px; 
    height: 380px;
}
#top{
    width: 100%;
    height: 35%;
    font-size: 72px;
    bottom: 25px;
   position: relative;
}
#center{
    text-align: center;
    width: 100%;
    height: 38%;
    font-size: 75px; 
    bottom: 10px;
}

#bot{
    float:right;
    font-size: 75px;
    top:25px
    
}
.red{
color:red;
}
.black{
    color: black;
}
body{
    background-color: green;
}
